In [1]:
#import os

#os.chdir(r'C:\Users\marevel\Documents\fraud-detection')

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marevel\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\marevel\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.read_table('guillaume.txt', sep=';')

C:\Users\marevel\AppData\Local\Temp\ipykernel_2472\2018471446.py:1: DtypeWarning: Columns (1,2,5,6,7,8,9,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('guillaume.txt', sep=';')

In [5]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,...,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20,2017-02-01 07:32:14,1,0,0,0,551,...,"37,186667890919111","52,076033757361408",0,1,4,4,4,20,0,27134
1,A013011306908024927155000,78643045,0,20,2017-02-01 07:43:37,1,0,0,0,551,...,"48,844716275908937","52,076033757361408",1,2,"1,7976851851851852",4,4,"28,609999999999999","8,6099999999999994",27817
2,A013010002908283134592527,78643046,0,"57,640000000000001",2017-02-01 07:47:38,1,0,0,0,549,...,"73,118279569892479","52,076033757361408",0,1,4,4,4,"57,640000000000001",0,28058
3,A011010002908105209831316,78643047,0,"54,289999999999999",2017-02-01 07:48:48,0,1,1,1,267,...,"110,05692599620494","53,554233554497365",0,1,4,4,4,"54,289999999999999",0,28128
4,A013010041908000125652029,78643048,0,"26,899999999999999",2017-02-01 08:13:27,1,0,0,0,549,...,"45,36831264567185","52,076033757361408",1,1,"1,9971064814814814",4,4,"59,149999999999999","32,25",29607

In [6]:
df.shape

(4646774, 23)

In [7]:
df.describe()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,...,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
count,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774,...,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774,4646774
unique,1280127,3831106,5,42864,3097882,10,22,34,43,1103,...,663,82,15585,10,154511,51510,12665,67973,35316,71497
top,A075000041908023367242120,80580952,0,30,2017-03-04 17:18:31,0,0,0,0,1,...,"45,36831264567185","52,076033757361408",0,1,4,4,4,30,0,40646
freq,217,2,4584151,37028,14,3483828,3593113,3593113,3593113,936673,...,202994,445066,4040408,4446255,3162537,3605264,3672048,32497,4068163,207

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646774 entries, 0 to 4646773
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           object
 5   CodeDecision              object
 6   VerifianceCPT1            object
 7   VerifianceCPT2            object
 8   VerifianceCPT3            object
 9   D2CB                      object
 10  ScoringFP1                object
 11  ScoringFP2                object
 12  ScoringFP3                object
 13  TauxImpNb_RB              object
 14  TauxImpNB_CPM             object
 15  EcartNumCheq              object
 16  NbrMagasin3J              object
 17  DiffDateTr1               object
 18  DiffDateTr2               object
 19  DiffDateTr3               object
 20  CA3TRetMtt                object
 21  CA3TR                     object
 22  Heure                     object
dtypes: object(23)
memory usage: 815.4+ MB

In [9]:
#on supp la ligne 1956360 parce qu'elle est buggÃ©e
df = df.drop(1956360)

In [10]:
df['ZIBZIN'] = df['ZIBZIN'].astype(str)

In [11]:
df['DateTransaction'] = pd.to_datetime(df['DateTransaction'], format="%Y-%m-%d %H:%M:%S")

In [12]:
df['Year'] = df['DateTransaction'].dt.year
df['Month'] = df['DateTransaction'].dt.month
df['Day'] = df['DateTransaction'].dt.day
df['Hour'] = df['DateTransaction'].dt.hour
df['Minute'] = df['DateTransaction'].dt.minute
df['Second'] = df['DateTransaction'].dt.second

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4646773 entries, 0 to 4646773
Data columns (total 29 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           datetime64[ns]
 5   CodeDecision              object
 6   VerifianceCPT1            object
 7   VerifianceCPT2            object
 8   VerifianceCPT3            object
 9   D2CB                      object
 10  ScoringFP1                object
 11  ScoringFP2                object
 12  ScoringFP3                object
 13  TauxImpNb_RB              object
 14  TauxImpNB_CPM             object
 15  EcartNumCheq              object
 16  NbrMagasin3J              object
 17  DiffDateTr1               object
 18  DiffDateTr2               object
 19  DiffDateTr3               object
 20  CA3TRetMtt                object
 21  CA3TR                     object
 22  Heure                     object
 23  Year                      int32
 24  Month                     int32
 25  Day                       int32
 26  Hour                      int32
 27  Minute                    int32
 28  Second                    int32
dtypes: datetime64[ns](1), int32(6), object(22)
memory usage: 957.2+ MB

In [14]:
colonnes_a_convertir = ['VerifianceCPT1', 'VerifianceCPT2', 'VerifianceCPT3', 'D2CB', 'EcartNumCheq', 'NbrMagasin3J','Heure']

# Convertir les colonnes en type entier
df[colonnes_a_convertir] = df[colonnes_a_convertir].astype(int)

In [15]:
colonnes_a_convertir2 = ['Montant', 'ScoringFP1', 'ScoringFP2', 'ScoringFP3', 'TauxImpNb_RB', 'TauxImpNB_CPM', 'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3', 'CA3TRetMtt', 'CA3TR']

df[colonnes_a_convertir2] = df[colonnes_a_convertir2].applymap(lambda x: str(x).replace(',', '.')).astype(float)

C:\Users\marevel\AppData\Local\Temp\ipykernel_2472\1098205633.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[colonnes_a_convertir2] = df[colonnes_a_convertir2].applymap(lambda x: str(x).replace(',', '.')).astype(float)

In [16]:
df['FlagImpaye'] = df['FlagImpaye'].replace({'0': 0, '1': 1})
# Transformez la colonne en facteur (catÃ©gorie)
df['FlagImpaye'] = df['FlagImpaye'].astype('category')

In [19]:
df.shape

(4646773, 29)

In [20]:
df = df.drop(columns=['ZIBZIN','IDAvisAutorisationCheque'])

In [ ]:
import pickle

with open('dataframe.pkl', 'wb') as file:
    pickle.dump(df, file)